{% extends "layout.html" %}
{% block content %}
<div class="homecontainer">
<div class="welcome1"><h1>Welcome {{ session["firstname"] }}  {{ session["lastname"] }}!</h1></div>

<div class="welcome2"><h1>About my Site</h1><p>This site uses the python flask framework and some other utilities and extentions. users can create accounts, edit profiles, chat to freinds and post blogs! <br>
     {% if user_id in session %}
    To get strated log in or register a new user!
    {% else %}
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque optio, odit, numquam velit expedita excepturi minima reprehenderit voluptatem culpa veniam, et hic ratione beatae ad esse illum? Fuga, blanditiis atque?
    {% endif %}
    </p></div>
<div class="welcome3"><h1>About me!</h1><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat adipisci cum beatae quis excepturi dolorem nulla esse natus! Quo error libero quos odio, tempore fugiat possimus illum voluptatibus, cumque, eveniet laboriosam tenetur eum totam! Vitae neque nulla perspiciatis similique optio, suscipit et corporis omnis quis veniam atque, magni eaque sit.</p></div>
<div class="welcome4"><h1>Have fun!</h1></div>
</div>
{% endblock content %}