{% extends "layout.html" %}
{% block content %}
    <div class="register_form_container"></div>
        <form class = "register_form" method ="POST" action="{{ url_for('registeruser') }}">
            First / Second Name<br>
            <input class= "text_box"type="text" name="nameCombo"/><br>
            Email:<br> 
            <input class= "text_box" type="text" name="useremail" required/><br>
            Password<br> 
            <input class= "text_box" type="password" name="password" required/><br>
            Re-Enter Password<br> 
            <input class= "text_box" type="password" name="verPassword" required/><br>
            <input class= "myButton" type="submit" value="submit">
        </form>
{% endblock content %}
