{% extends "layout.html" %}
{% block content %}
<div class="profilecontainer"></div>
<div class="profilepiccontainer1">
        <img src="/{{ profilepicurl }}" alt="No Profile Picture">
    </div>
<h2 class = "name1">{{ firstname }} {{ lastname }}</h2>
<h4 class = "email1">{{ useremail }}</h4>

<form class = "editprofileform" id="editprofileform" method ="POST" action="{{ url_for('updateprofile') }}">
    <h3>Edit profile details</h3>
    <p>Name:</p>
    <input type="text" name="nameCombo" value ="{{ firstname }} {{ lastname }}"><br>
    <p>Facebook Link:</p>
    <input type="text" name="facebooklink" value="{{ facebooklink }}"><br>
    <p>Twitter Link:</p>
    <input type="text" name="twitterlink" value="{{ twitterlink }}"><br>
    <p>Instagram Link:</p>
    <input type="text" name="instagramlink" value="{{ instagramlink }}"><br>
    <p>Github Link:</p>
    <input type="text" name="githublink" value="{{ githublink }}"><br>
    <input class= "profileupdatebtn" type="submit" value="submit" onclick="submitforms()">
</form>

<form class="editprofileform1" id="editprofileform1" method ="POST" action="{{ url_for('updateprofile') }}">
    <h3>Edit your Profile Blurb</h3>
    <textarea rows="10" cols="40" form="editprofileform" name="blurb">{{ blurb }}</textarea><br>
</form>

<button class = "changepassbtn" ><a href="{{url_for('changepass')}}">Change Password</a></button>

<!-- <form class="editprofileform2" action="">
    <h3>Change your password</h3>
        <p>Enter old password:</p>
        <input type="password" name="oldpass"><br>
        <p>Enter new password:</p>
        <input type="password" name="newpass"><br>
        <p>Re-enter new password:</p>
        <input type="password" name="newpassver"><br>
        <input class= "myButton" type="submit" value="submit">
</form> -->
{% endblock content %}