{% extends "layout.html" %}
{% block content %}
<div class="regBackground"></div>
    <div class="profilecontainer"></div>
        <div class="profilepiccontainer">
            <img src="/{{ userdata[6] }}" alt="No Profile Picture">
        </div>
        <div class="name">
            {{ userdata[3] }} {{ userdata[4] }}
        </div>
        <div class="blurb">
            {{ userdata[7] }}
        </div>
        <div class="facebook">
            <a target="_blank" rel="noopener noreferrer" class ="facebooka" href="////{{userdata[8]}}">
                <img src="{{ url_for('static', filename='media/icons/facebooklogo.png') }}"/>
            </a>
        </div>
        <div class="twitter">
            <a target="_blank" rel="noopener noreferrer" class ="twittera" href="////{{userdata[9]}}">
                <img src="{{ url_for('static', filename='media/icons/twitterlogo.png') }}"/>
            </a>
        </div>
        <div class="instergram">
            <a target="_blank" rel="noopener noreferrer" class ="instergrama" href="////{{userdata[10]}}">
                <img src="{{ url_for('static', filename='media/icons/Instagramlogo.png') }}"/>
            </a>
        </div>
        <div class="github">
            <a target="_blank" rel="noopener noreferrer" class ="githuba" href="////{{userdata[11]}}">
                <img src="{{ url_for('static', filename='media/icons/githublogo.png') }}"/>
            </a>
        </div>   

        {% if 'useremail' in session %}
        <form class = "chatbtn" action="{{ url_for('createchat') }}" method="POST">
                <input type="hidden" name="user_id" value="{{ userdata[0] }}">
                <input type="submit" value="Chat to user">
        </form>
        {% endif %}

{% for row in rows %}
<div class="userpost" href="/viewpost/{{ row[0] }}">
    <h2 class = "blogposttitle">{{ row[2] }}</h2>
    <div class="contentcontainer">
        <p class = "blogpostcontent">{{ row[3] }}</p>
    </div>
    <p class = "blogposttimestamp">{{ row[5] }}</p>
</div>
{% endfor %}    

{% endblock content %}