{% extends "layout.html" %}
{% block content %}
<div class="regBackground"></div>

<form class ="querypostform" action="{{ url_for('querypost') }}" method="POST">
    <p>Blog Title:</p>
    <input type="text" placeholder="Blog title?" name="title">
    <p>Authers Name:</p>
    <input type="text" placeholder="Auther?" name="auther">
    <p>Date posted:</p>
    <input type="date" name="timestamp" step="Date"
       min="2018-11-01" max="2018-12-31"><br>


    <input type="submit" value="submit">
</form>


{% endblock content %}