{% extends "layout.html" %}
{% block content %}
<div class="regBackground"></div>
        <div class="singlepost1">
            <h2 class = "blogposttitle1">{{ postdata[2] }}</h2>
            <div class="contentcontainer1">
                <p class = "blogpostcontent">{{ postdata[3] }}</p>
            </div>
             Auther: <a class = "authername" href="/user/{{ postdata[1] }}">{{ postdata[4] }}</a>
            <p class = "blogposttimestamp">Post date/time: {{ postdata[5] }}</p>
        </div>

    {% if user_id == postdata[1] %}
        <a class="editpostbtn" href="{{ url_for('editpost') }}"><button>Edit Post</button></a>
    {% endif %}

{% endblock content %}