{% extends "layout.html" %}
{% block content %}
    <div class="profilecontainer1">
        <div class="profilepiccontainer">
            <img src="/{{ profilepicurl }}" alt="No Profile Picture">
        </div>
        <button class= "ppuploadbtn"><a href="{{ url_for('profilepic') }}">Upload profile pic</a></button>
        <div class="name user">
            {{ firstname }} {{ lastname }}
        </div>
        <div class="email user">
            {{ useremail }}
        </div>
        <div class="blurb user">
            {{ blurb }}
        </div>
        <button class = "editprofile user"><a href="{{url_for('editprofile')}}">Edit Profile</a></button>
        <div class="facebook user">
            <a target="_blank" rel="noopener noreferrer" class ="facebooka" href="////{{facebooklink}}">
                <img src="{{ url_for('static', filename='media/icons/facebooklogo.png') }}"/>
            </a>
        </div>
        <div class="twitter user">
            <a target="_blank" rel="noopener noreferrer" class ="twittera" href="////{{twitterlink}}">
                <img src="{{ url_for('static', filename='media/icons/twitterlogo.png') }}"/>
            </a>
        </div>
        <div class="instergram user">
            <a target="_blank" rel="noopener noreferrer" class ="instergrama" href="////{{instagramlink}}">
                <img src="{{ url_for('static', filename='media/icons/Instagramlogo.png') }}"/>
            </a>
        </div>
        <div class="github user">
            <a target="_blank" rel="noopener noreferrer" class ="githuba" href="////{{githublink}}">
                <img src="{{ url_for('static', filename='media/icons/githublogo.png') }}"/>
            </a>
        </div>
    </div>
{% endblock content %}